.header {
    background-color: rgb(93, 93, 225);
    display: flex;
    justify-content: space-between;
    /* color: white; */
    padding: 4px 40px 4px 40px;
}

.header a {
    color: white;
}

.buttom {
    background-color: green;
    padding: 0 8px;
}