

.container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 16px;

}

.main_container {
    margin: 20px;
    display: flex;
    gap: 16px;
}